.CsvCreator {
   margin-top: 200px;
   display: inline-block;
   width: 100%;
   margin: auto;
   text-align: center;
   background-color: rgb(100, 136, 177);

}

.CsvCreator>a {
   display: block;
   width: 150px;
   height: 30px;
   border: 1px solid;
   margin: auto;
   align-content: center;
   text-align: center;
   align-items: center;
   color: white;
   margin-bottom: 20px;
   margin-top: 20px;

}