/* Card */
.VacationCard {
   position: relative;
   box-sizing: border-box;
   width: 350px;
   height: 500px;
   display: inline-flex;
   flex-direction: row;
   border: none;
   background-color: lightcyan;
   text-align: left;
   margin: 20px;
   min-height: 200px;
   border-radius: 10px;
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
   transition: all 0.2s;
   overflow: hidden;
}

.VacationCard .CardContainer {
   box-sizing: border-box;
   position: absolute;
}

/* Image */
.VacationCard img {
   width: 350px;
   height: 220px;
   border: 1px solid;
   border-radius: 10px 10px 0px 0px;
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
   border: none;
   vertical-align: middle;
   object-fit: cover;
}

/* Follow box */
.VacationCard .Follow {
   position: absolute;
   box-sizing: border-box;
   width: 350px;
   padding: 5px;
}

/* Follow Button */
.VacationCard .fbtn {
   position: absolute;
   box-sizing: border-box;
   width: 40px;
   height: 40px;
   margin-top: -10px;
   display: inline-block;
   border: none;
   background-color: transparent;
   cursor: pointer;
   font-size: xxx-large;
   font-weight: bolder;
   color: white;
}

/* Unfollow Button */
.VacationCard .ufbtn {
   position: absolute;
   box-sizing: border-box;
   width: 40px;
   height: 40px;
   margin-top: -10px;
   display: inline-block;
   border: none;
   font-size: xxx-large;
   background-color: transparent;
   cursor: pointer;
   color: rgb(100, 136, 177);
}

/* Edit Button */
.VacationCard .Edit {
   position: absolute;
   box-sizing: border-box;
   width: 40px;
   height: 40px;
   margin-top: -5px;
   margin-left: 40px;
   display: inline-block;
   border: none;
   font-size: xx-large;
   background-color: transparent;
   cursor: pointer;
   color: white;
}

.VacationCard .Edit:hover {
   color: rgb(100, 136, 177);
}

/* Delete Button */
.VacationCard .Delete {
   position: absolute;
   box-sizing: border-box;
   width: 40px;
   height: 40px;
   margin-top: -5px;
   display: inline-block;
   border: none;
   font-size: xx-large;
   background-color: transparent;
   cursor: pointer;
   color: white;
}

.VacationCard .Delete:hover {
   color: rgb(100, 136, 177);
}

/* Price */
.VacationCard .Price {
   position: absolute;
   box-sizing: border-box;
   text-shadow: 2px 2px 4px #000000;
   width: 350px;
   padding: 5px;
   text-align: end;
   margin-top: -15px;
   margin-right: 0px;
   font-size: 5.5vh;
   font-weight: normal;
   color: white;
   margin-right: 5px;
}

/* Likes Count */
.VacationCard .Count {
   position: absolute;
   box-sizing: border-box;
   width: 10px;
   font-size: x-large;
   display: inline-block;
   color: black;
   margin-left: 22px;
   margin-top: 7px;
   pointer-events: none;
}

/* Destination */
.VacationCard .Destination {
   position: absolute;
   font-size: xx-large;
   text-shadow: 2px 2px 4px #000000;
   color: white;
   margin-top: 155px;
   margin-left: 5px;
   overflow: hidden;
   transition: 0.3s ease-in-out;
}

/* Dates */
.VacationCard .Dates {
   position: absolute;
   box-sizing: border-box;
   text-align: center;
   width: 350px;
   height: 60px;
   margin-top: 195px;
   border: 1px solid;
   border-radius: 10px 10px 0px 0px;
   box-shadow: 0px -10px-10px rgba(0, 0, 0, 0.25);
   border: none;
   padding: 5px;
   background-color: rgb(100, 136, 177);
   color: white;
   overflow: hidden;
   transition: 0.3s ease-in-out;
}


/* Bio */
.VacationCard .Bio {
   position: absolute;
   box-sizing: border-box;
   width: 350px;
   height: 270px;
   margin-top: 230px;
   border: 1px solid;
   border-radius: 10px 10px 10px 10px;
   box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.25);
   border: none;
   background-color: lightblue;
   overflow: hidden;
   padding: 10px;
   transition: 0.3s ease-in-out;
}


.VacationCard:hover .Destination {
   position: absolute;
   height: 400px;
   margin-top: 40px;
   transition: 0.3s ease-in-out;

}

.VacationCard:hover .Dates {
   position: absolute;
   height: 400px;
   margin-top: 78px;
   transition: 0.3s ease-in-out;

}

.VacationCard:hover .Bio {
   position: absolute;
   height: 400px;
   margin-top: 110px;
   transition: 0.3s ease-in-out;
   overflow: auto;
}


/* Links */
.VacationCard a {
   color: white;
}

.VacationCard a:hover {
   color: rgb(100, 136, 177);
   ;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #d6d5d5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}