.Menu {
   top: 0px;
   margin-top: 0px;
   background-color: darkcyan;
   height: 40px;
   box-sizing: border-box;
   color: white
}

.Menu>a {
   color: white;
   vertical-align: middle;
}

.Menu a.active {

   color: darkblue;
}