.Menu {
   display: inline-block;
   box-sizing: border-box;
   top: -5px;
   margin-top: 0px;
   background-color: rgb(73, 128, 128);
   width: 100%;
   height: 60px;
   box-sizing: border-box;
   color: white;
   font-family: titillium;
   padding-left: 30px;
   text-align: left;
}

.Menu>a {
   color: white;
   vertical-align: middle;
}

.Menu a.active {

   color: darkblue;
}