@font-face {
    font-family: lobster;
    src: url(./Assets/Fonts/Lobster-Regular.ttf);
}

/* @font-face {
    font-family: glock;
    src: url(./Assets/Fonts/Gloock-Regular.ttf);
} */

@font-face {
    font-family: titillium;
    src: url(./Assets/Fonts/TitilliumWeb-Regular.ttf);
}

html,
body,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("./Assets/Images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    height: 100%;
    text-align: center;
    font-size: large;
    font-family: titillium;
}



a {
    color: lightblue;
    text-decoration: none;
}

form {
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
    text-align: left;
}


ul,
li {
    text-decoration: none;
}